/** INITIALISATION OF VALUES */

:root {
    --primary-color: #001542;
    --danger-color: #520120;
    --white-color: #FFFFFF;
    --primary-opac-color: hsla(178, 37%, 60%, 0.767);
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
}

body {
    background: var(--white-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.container {
    padding-inline: 5vw;
    padding-top: 5vh;
}

.center {
    text-align: center;
}


/* GID LAYOUT */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.col-10 {
    width: 80%;
    padding-inline: 2%;
}

.col-6 {
    width: 45%;
    padding-inline: 2%;
}

.col-2 {
    width: 10%;
    padding-inline: 2%;
}

.col-12 {
    width: 100%;
    padding-inline: 2%;
}

.h1 {
    padding: 20px 0;
}

.my-3 {
    margin: 10px 0;
}

.bg-primary-light {
    background: var(--primary-opac-color);
    margin-inline: 2%;
    padding: 10px 5px;
    border-radius: 5px;
    width: 95.5%;
}

/* FORMULAIRE */
.form-control {
    width: 100%;
    height: 25px;
    padding: 5px 10px;
    outline: 10px var(--primary-color);
}

/* BUTTONS */
.btn {
    width: 100%;
    padding: 10px 20px;
}

.btn:hover {
    cursor: pointer;
}

.btn-outline-white {
    background: var(--white-color);
    border: solid 1px var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color)
}

.btn-outline-white:hover {
    background: var(--primary-color);
    color: var(--white-color);
}

.btn-danger {
    background: var(--danger-color);
    border: solid 1px var(--primary-color);
    border-radius: 5px;
    color: var(--white-color)
}

.btn-primary {
    border: solid 1px var(--primary-color);
    border-radius: 5px;
    color: var(--white-color);
    background: var(--primary-color)
}